# Dependencies
node_modules/
.pnp/
.pnp.js

# Build
dist/
build/
*.log

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# Backend build
src/backend/dist/
src/backend/node_modules/
*.db

# Frontend build
src/frontend/build/
src/frontend/.dart_tool/
src/frontend/.flutter-plugins*
src/frontend/.packages
src/frontend/.pub-cache/

# IDE
.idea/
.vscode/

# iOS macOS build
src/frontend/ios/Pods/
src/frontend/ios/.symlinks/
src/frontend/macos/Pods/
